
body{
    background-color: #d1cdeb;
    color: #fff;
    font-family: sans-serif;
}



.Form{
    background-color:#8379bc;
    box-shadow: 10px 10px 20px #8379bc;
    border-radius: 20px;
    width:30%;
    padding: 4px;
    padding-bottom: 5%;
    text-align: center;
    margin: 5% auto;
}

.box{
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 6px;
    border-color: #fff;
    height:30px;
    margin: 2% auto;
}

.box2{
     width: 39.5%;
    border-radius: 6px;
   border-color: #fff;
    height:30px;
    margin: 3% auto;
}

a{
    color:#fff;
}

label{
    font-size: 12px;
    display: block;
    margin-top: 10%;
}

#button{
    height: 40px;
     width: 70%;
     border-radius: 20px;
     background-color:rgb(135, 134, 134) ;
     color: rgb(96, 96, 96);
     font-size: 20px;
     border:none;
     margin-top: 5%;
    
    }

p{
    font-size: 12px;
}