#logo{
    margin-right:0.1px;
    margin-top: 0.1px;
    width:10%;
}

.Signin{
    background-color: #ffffff;
    padding: 24px;
    padding-left: 80px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
    width: 350px; 
    height: 400px;
    margin-bottom: 20px;
    text-align: left;
    align-items: center;
    margin-left: 35%;
    font-family: sans-serif;
}


.box{
    width: 225px;
    height:35px;
    border: 1px black solid ;
    border-radius: 3px;
    text-align:left;
    margin: 10px;
}

#Forgotpass{
    color: #006097;
    text-decoration: none;
    margin-left:2%;
}

#button{
    background-color: #ffffff;
    color: #006097;
    border: none;
   position: relative; 
    right:20%; 
    top: 45.5%; 
}

#button:hover{
 cursor: pointer;
}

#button1{
    margin-top: 5%;
    background-color: #006097;
    color:white;
    border-radius: 20px;
    width: 245px;
    height: 35px;
    border-color: none;
}

#button2{
    margin-top: 5%;
    background-color: white;
    color:black;
    border-radius: 20px;
    width: 245px;
    height: 35px;
    border-color: none;
    
}

#button2 img{
    margin-right:5%;
    width: 15px;
}

div a {
    text-decoration: none;
    font-family: sans-serif;
    color: #006097;
    margin-left: 0.5%;
}

p {
    display: inline;
}
#join{
    text-align: center;
}

p img{
    width: 5%;
}

.footerE{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    margin-right:5%;
    margin-bottom: 3%;
 }

 select{
    border: none;
    background-color: none;
 }